#detail-bar{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  color: $white;
  font-size: $small;

  #left-menu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 16px;
    align-items: center;
    svg{
      width: 15px;
    }
    .left-box{
      display: grid;
      grid-template-rows: auto auto;
      grid-row-gap: 8px;
    }
  }
  #right-menu{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 8px;
    font-size: 16px;
    align-items: center;
    .amnt{
      padding: 10px 40px;
      border-radius:25px;
      justify-content: center;
      font-size: $standard;
      box-shadow: $red-shadow;

    }
  }
}